*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif; 
    background-color: #FFFFFF;
    color: #393e5b;
}

p{
    color: #b8b9bc;
    
}

/* Header */
header {
    /* display: none; */
    padding: 40px 30px 30px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    display: none;
}

/* Main */
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 0px 15px 0px;
    height: calc(100vh - 99px);
    border: 1px solid #FA5757;
    text-align: center;
}

main div img{
    object-fit: contain;   
    width: 370px;
    max-width: 500px; 
    
}

.data{
    display: flex;
    flex-direction: column;
  
}



.data h1{
    font-size: 32px;
    font-weight: 500;
    padding: 10px 0px 25px 0px;
    max-width: 430px;
}

.data p{
    padding: 4px;
    line-height: 1.5;
    max-width: 430px; 
}

.data div{
    display: flex;
    justify-content: center;
   
}

.btn{
    border: none;
    padding: 15px 11px 15px 11px;
    margin: 14px 14px;
    border-radius: 5px;
    font-size: 15px;
    box-shadow: 0px 5px 5px 0px #EEEEFA; 
}

.purple{
    background-color:#5267DF;
    color: #FFFFFF;
}

.white{
    color: #93939a;
    background-color: #F7F7F6;
}


@media (min-width: 900px) {
   
/* Header     */
    header{
        width: 85%;
        max-width: 1200px;
        margin: 0 auto;
        padding: 30px 0px;
    }

    ul{
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style: none;
        font-size:18px;
        gap: 50px
    }

    .login{
        background-color: #FA5757;
        color:#FFFFFF;
        border-radius:10px;
        padding: 7px 30px;
        border: 2px solid transparent;
    }

    .login:hover{
        cursor: pointer;
        border: 2px solid #FA5757;
        background-color: #FFFFFF;
    }

    li:hover{
        cursor:pointer;
        color: #FA5757;
    }
    
    .hamburger{
        display: none;
    }

/* Main     */
    main{
        flex-direction: row-reverse;
        justify-content: space-between;
        text-align:start;
        align-items: center;
        padding: 0px 0px;
        width: 85%;
        margin: 0 auto;
        max-width: 1200px;
    }

    .data div{
        justify-content: start;
        
    }

    .data{
        padding: 0 auto;
    }

    .data p{
       padding: 0px;
       padding-bottom: 15px;
    }

    .data h1{
        font-size: 36px;
        letter-spacing: 2px;
        max-width: 450px;
        padding-bottom: 15px;
    }

    main div img{
        flex-wrap: wrap;
        width: 100%;
        max-width: 700px;
    }

    .btn{
     margin-left: 0px;
    }
}