*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif; 
    color: #393e5b;
    background-color: aqua;
}

.referencia{
    width: 600px;
    background-color: yellow;
    margin: 0 auto;
}

.buttonContainer{
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 400px;
    padding: 20px 0px;
    margin: 0 auto;
    border: 1px salmon solid;
}

.buttonContainer div{
    display: flex;
    flex-direction: column;
    padding:0px 0px 0px 0px;
    border: 1px salmon solid;
    margin-bottom: 20px ;
    
}

.email-input{
    padding: 20px 20px;
    background-color: red;
    border: none;
    margin:0px 0px;
    border-radius: 5px;
}

.messageFail{
    border: 1px salmon solid;
    padding: 0px 0px;
    border-radius: 5px;
    background-color: #FFFFFF;
}

.messageFail small{
    position:relative;
    padding-left: 20px;
    background-color: #FFFFFF;
}

.btn-contact{
    background-color: purple;
    padding: 10px 0px 10px 0px;
    color: #FFFFFF;
    border: 1px salmon solid;
    
}

@media (min-width: 900px) {
    .buttonContainer {
        flex-direction: row;
        max-width: 600px;
        gap: 30px;
    }

    .buttonContainer div{
        width: 75%;
    } 

    .email-input{
        height: 50px;
    }

    .messageFail{
       min-width: 418px;
        height: 10px;
    }

    .btn-contact{
        min-width: 150px;
        padding:0px;
        margin: 0px;
        height: 50px;
    }


}